<!-- Promo & Grow: Brand Logo -->
{%- if shop.brand.logo -%}
  {{
    shop.brand.logo
    | image_url: width: 400
    | image_tag:
      class: 'png-logo-img',
      alt: shop.name,
      loading: 'eager',
      sizes: '200px',
      widths: '100, 150, 200, 300, 400'
  }}
{%- else -%}
  <span class="png-logo" aria-label="Promo and Grow">
    <span class="png-logo__text">PROMO</span><span class="png-logo__ampersand">&</span><span class="png-logo__text">GROW</span>
  </span>
{%- endif -%}
